<mat-sidenav-container>
    <mat-sidenav 
        mode="side" 
        opened 
        class="sidenav"
        fixedInViewport="true" 
        fixedTopGap="64"    
    >
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item routerLink="/user">
                <i class="material-icons">people_alt</i>
                Usuário
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
